/**
 * Main content declarations
 * Under mobile viewport 
 */

main {
  display: block;
  padding: (70px + $font_size_base) 0 ($footer_height + 20px); /* Fixed header */
  overflow: auto;

  @include breakpoint($bp_grande) {
    padding-top: $font_size_base;
  }

  &.space-none {
    padding: 70px 0 $footer_height;

    @include breakpoint($bp_grande) {
      padding-top: 0;
    }
  }
}