{% extends "base.html" %}
{% load blog_markdown %}
{% load staticfiles %}

{% block title%}
{{ post.title }}
{% endblock %}
{% block main %}
  <div id="blog-post" itemscope itemtype="http://schema.org/BlogPosting">
    <div id="post-overview">
      <div id="post-author" itemscope itemtype="http://schema.org/Person">
        <img alt="Picture of the author" src="{% static 'img/me.jpg' %}" itemprop="image" />
      </div>
      <div id="post-keyfacts">
        <h1 id="post-title" itemprop="headline">{{ post.title }}</h1>
        <div id="post-date">
          Posted on:
          <span itemprop="dateCreated">
            {{ post.created|date:"M d, Y" }}
          </span>
        </div>
      </div>
    </div>
    <div id="post-content" itemprop="articleBody">
      {{ post.content_processed|safe }}
    </div>
    <div id="post-tags" itemprop="keywords">
      {% for tag in post.get_tags %}
        <div class="blog-tag">{{ tag }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}