/**
 * Grids for the secondary sections on the about / home page
 * The grids alternate the position of the focal images, and both break down
 * for small viewports
 */

$grids: 1;
$gutters: 1/3;

@mixin section-align-left() {
  $grids: add-grid(1 3 at $bp_tall);

  .section-focal {
    @include grid-span(1,1);

    @include breakpoint($bp_tall) {
      @include grid-span(1,1);
    }
  }

  .section-content {
    @include grid-span(1,1);

    @include breakpoint($bp_tall) {
      @include grid-span(1,2);
    }
  }
}

@mixin section-align-right() {
  $grids: add-grid(3 1 at $bp_tall);

  .section-focal {
    @include breakpoint($bp_tall) {
      @include grid-span(1,2);
    }
  }

  .section-content {
    @include breakpoint($bp_tall) {
      @include grid-span(1,1);
    }
  }
}
