/**
 * Content for the header section.
 * This includes both the logo and navigation. 
 * A mobile-first approach has been taken.
 */
header {
  background-color: $color_header_bg;
  color: $color_header_font;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  a {
    color: $color_header_font;
    text-decoration: none;

    &:hover {
      color: darken($color_header_font, 20%);
    }
  }

  .wrapper {
    @include box-sizing(border-box);
    @include pie-clearfix;
    padding: 0;

    @include breakpoint($bp_grande) {
      padding: 0 20px;
    }

    @include breakpoint($bp_venti) {
      padding: 0;
    }
  }

  @include breakpoint($bp_grande) {
    line-height: $header_height;
    position: static;
  }

  ul, li {
    display: inline-block;
    list-style: none;
  }
}

/**
 * Tablet or larger, all header elements floated
 */
#logo, nav, #socials {
  @include breakpoint($bp_grande) {
    vertical-align: top;
    float: left;
  }
}

#logo {
  display: block;
  text-align: center;
  height: $header_height;
  line-height: $header_height;
  font-family: "Droid Serif";
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 0;
  -webkit-font-smoothing: antialiased;

  span, strong {
    font-size: 1.5rem;
  }

  strong {
    display: inline-block;
    font-weight: 700;
  }

  @include breakpoint($bp_grande) {
    text-align: left;
    margin-right: 30px;
  }
}

/**
 * Navigation toggle for mobile viewport
 */ 
#nav-toggle {
  color: darken($color_light, 12%);
  vertical-align: middle;
  position: absolute;
  line-height: 1em;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  vertical-align: top;
  cursor: pointer;
  @include border-radius(3px);
  background-color: darken($color_header_bg, 12%);
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  @include breakpoint($bp_grande) {
    display: none;
  }
}

nav {
  margin: 0;
  padding: 0;

  /**
   * When under mobile viewport and the navigation is visible (active)
   */
  &.active {
    ul {
      display: block;
    }

    @include breakpoint($bp_grande) {
      ul {
        display: inline-block;
      }
    }

    #nav-toggle {
      opacity: 1;
    }
  }

  /**
   * Default navigation state: Hidden on mobile, visible on larger devices
   */
  ul {
    display: none;
    background-color: darken($color_header_bg, 12%);
    border-top: 10px solid $color_light;

    @include breakpoint($bp_grande) {
      display: inline-block;
      background-color: transparent;
      border-top: none;
    }

    /**
     * All navigation links. Wrapped in UL as otherwise would include the toggle
     */
    a {
      border-bottom: 3px solid transparent;
      padding: 15px 20px;
      display: block;
      font-weight: 700;
      position: relative;
      color: rgba($color_light, 0.7);
      text-transform: uppercase;

      /**
       * Mobile navigation includes 
       */
      &::after {
        position: absolute;
        right: 20px;
        font-family: "FontAwesome";
        content: "\f105";
        opacity: 0.5;

        @include breakpoint($bp_grande) {
          display: none;
        }
      }

      /**
       * Special hover events for mobile view.
       */
      &:hover {
        color: $color_light;
        background-color: darken($color_header_bg, 10%);

        @include breakpoint($bp_grande) {
          color: darken($color_header_font, 20%);
          background-color: transparent;
        }

        &::after {
          content: "\f105\f105\f105";
        }
      }

     /**
       * Higher viewport default state
      */
      @include breakpoint($bp_grande) {
        color: $color_light;
        font-weight: 400;
        text-transform: none;
        display: inline;
        border-top: none;
        padding: 0 0 0.3em;

        &.active {
          border-bottom-color: rgba($color_header_font, 0.2);
        }
      }
    }
  }

  li {
    border-top: 1px solid rgba($color_light, 0.2);
    display: block;

    @include breakpoint($bp_grande) {
      display: inline-block;
      margin-right: 20px;
    }

    &:first-child {
      border-top: none;
    }
  }
}

#socials {
  display: none;

  @include breakpoint($bp_grande) {
    display: inherit;
    float: right;
  }

  li {
    a {
      color: $color_light;
      text-decoration: none;
      width: 40px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      border-radius: 100%;
      vertical-align: middle;
      opacity: 0.2;
      cursor: pointer;
      @include single-transition(opacity, 0.25s, ease);

      &:hover {
        opacity: 1;
      }
    }
  }
}

/**
 * Individual social colours
 */

#socials {
  @include pie-clearfix;

  li {
    float: left;
    margin-left: 4px;
  }
}

#social-fb { background-color: #3B5998; }
#social-twitter { background-color: #00B0ED; }
#social-google-plus { background-color: #dd4b39; }
#social-so { background-color: #fE7A15; }
#social-linkedin { background-color: #0977b5; }
#social-github { background-color: #6CC644; }

/**
 * Header divider, 4 equally-sized swatch colours
 */
#header-divider {
  @include pie-clearfix;
  
  div {
    float: left;
    width: 25%;
    height: 10px;
  }

  .swatch-1 { background-color: $color_palette_2; }
  .swatch-2 { background-color: $color_palette_3; }
  .swatch-3 { background-color: $color_palette_4; }
  .swatch-4 { background-color: $color_palette_5; }
}
