/**
 * Main content declarations
 * Under mobile viewport 
 */

main {
  padding: (70px + $font_size_base) 0 ($footer_height + 20px); /* Fixed header */
  overflow: auto;

  @include bp(tall) {
    padding-top: $font_size_base;
  }
}