/**
 * Main content declarations
 * Under mobile viewport 
 */
main {
  margin: 70px 0 0; /* Fixed header size */
  padding: $font_size_base 0;
  background: url(../img/noise.png);

  @include bp(tall) {
    margin: 0;
  }
}