/**
 * Individual post page styles
 */
#post-overview {
  @include pie-clearfix;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 4px solid rgba(200, 200, 200, 0.3);
}

#post-keyfacts {
  @include breakpoint($bp_grande) {
    margin-right: 100px;
  }
}

#post-date {
  font-size: 0.8em;
  color: lighten($color_palette_1, 10%);
}

#post-author {
  float: right;

  img {
    display: none;

    @include breakpoint($bp_grande) {
      display: block;
      border-radius:100%;
      width: 60px;
      height: 60px;
    }
  }
}

#post-content {

  img {
    border-radius: 4px;
  }

  ul,
  ol {
    list-style-position: inside;
    margin-bottom: 1.5em;
  }

  ul,
  ol {
    list-style-type: circle;

    ul {
      list-style-type: disc;
      margin-left: 3em;

      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  li {
    line-height: 1.5;
  }

  table {
    margin-bottom:1.5em;
  }

  table:not(.code-snippettable) {
    color: lighten($color_plaintext, 20%);
    display: table;
    width: 100%;

    th,
    td {
      padding:8px 4px;
    }

    thead th {
      border-bottom: 3px solid #AAA;
      font-weight: bold;
    }

    tbody tr {
      border-bottom: 1px solid #AAA;

      &:nth-child(2n+1) {
        background: rgba(150, 150, 150, 0.1);
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

/**
 * Index page view.
 */
#blog-listings {

  .blog-listing {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid rgba(200, 200, 200, 0.3);

    &:last-child {
      border-bottom: none;
    }
  }

  .blog-title,
  .blog-date {
    display: inline;
  }

  .blog-date {
    margin-left: 5px;
    line-height: 2;
    font-size: 0.8em;
    color: lighten($color_plaintext, 30%);
    white-space: nowrap;
  }

  .blog-excerpt p {
    font-size: 0.9em;
    color: lighten($color_plaintext, 20%);
    margin-bottom: 0;
  }

  .blog-tag {
    margin-top: 0.5em;
  }
}

/**
 * Common styles
 */
.blog-tag {
  display: inline-block;
  color: lighten($color_palette_1, 20%);
  background-color: lighten($color_palette_1, 60%);
  border: 1px solid lighten($color_palette_1, 50%);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  margin-right: 2px;
}