/**
 * Default element behaviours
 */

html, body {
  height: 100%;
}

body {
  background-image: url(img/noise.png);
  color: $color_plaintext;
  font-family: $font_type_primary;
  font-size: $font_size_base;
}

p {
  line-height: 1.5;
  margin: 0 0 1.5em;
}

h1,
h2 {
  line-height: 1.25;
  font-weight: 400;
}

h1 {
  font-family: $font_type_emphasis;
  font-size: 1.4em;
  margin: 0 0 0.25em;
  color: $color_plaintext;

  @include breakpoint($bp_short) {
    font-size: 1.6em;
  }

  @include breakpoint($bp_grande) {
    font-size: 1.8em;
  }
}

h2 {
  font-family: $font_type_emphasis;
  font-size: 1.2em;
  margin: 0 0 0.25em;
  color: $color_plaintext;
}

a {
  color: lighten($color_palette_1, 20%);

  &:hover {
    color: $color_palette_1;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

.note {
  color: lighten($color_plaintext, 30%);
  font-size: 0.9em;
}
