/**
 * Default element behaviours
 */

html, body {
  height: 100%;
}

body {
  background: url(../img/noise.png);
  color: $color_plaintext;
  font-family: $font_type_primary;
  font-size: $font_size_base;
}

p {
  line-height: 1.5;
  margin: 0 0 1.5em;
}

h1,
h2 {
  line-height: 1.25;
  font-weight: 400;
}

h1 {
  font-family: $font_type_emphasis;
  font-size: 1.8em;
  margin: 0 0 0.25em;
  color: $color_plaintext;
}

h2 {
  font-family: $font_type_emphasis;
  font-size: 1.2em;
  margin: 0 0 0.25em;
  color: $color_plaintext;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}