/**
 * We wrap all tables in a div to allow for scrolling
 */
.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

/**
 * Page wrapper has horizontal padding when in < desktop viewports
 */
.wrapper {
  margin:0 auto;
  padding:0 20px;

  @include breakpoint($bp_venti) {
    width:$bp_venti - 20px;
    padding:0;
  }
}