{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="ianClarkApp">
  <head>
    <title>
      {% block title %}Home{% endblock %}
      - Ian Clark
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
  </head>
  <body ng-controller="blogCtrl">
    <div id="footer-fix">
      {% block header %}
      <header>
        <div class="wrapper">
          <h1 id="logo">
            <a href="/">
              Ian<strong>Clark</strong>
            </a>
          </h1>
          <nav ng-class="{active: active}">
            <a id="nav-toggle" ng-click="active = !active" class="fa fa-bars"></a>
            <ul>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>Work</li>
              <li>About</li>
            </ul>
          </nav>
          <ul id="socials">
            <li>
              <a  id="social-fb" href="//facebook.com/evenicoulddoit" class="fa fa-facebook"></a>
            </li>
            <li>
              <a id="social-twitter" href="//twitter.com/evenicoulddoit" class="fa fa-twitter"></a>
            </li>
            <li>
              <a id="social-so" href="//stackoverflow.com/users/1773904" class="fa fa-stack-overflow"></a>
            </li>
          </ul>
        </div>
        <div id="header-divider">
          <div class="swatch-1"></div>
          <div class="swatch-2"></div>
          <div class="swatch-3"></div>
          <div class="swatch-4"></div>
        </div>
      </header>
      {% endblock %}
      <main ng-click="active = false">
        <div class="wrapper">
          {% block main %}{% endblock %}
        </div>
      </main>
    </div>
    <footer>
      <div class="wrapper">
        <strong>IanClark.me</strong> Beta &mdash; More to come...
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script>
      var ianClarkApp = angular.module('ianClarkApp', []);

      ianClarkApp.controller('blogCtrl', function ($scope) {
      });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>